body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto 46px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial;
}

header {
    font-size: 13px;
}

main {
    display: flex;
    grid-area: main;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    grid-area: footer;
    background-color: #F2F2F2;
    height: 46px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#top-right-nav {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 6px 6px 5px 14px;
}

#top-right-nav a {
    margin: 8px 8px 9px 7px;
}

#image-9-dots {
    display: block;
    width: 16px;
}

.hover-circle-button-15px {
    border: 12px solid transparent;
}

.hover-circle-button-15px:hover {
    border: 12px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    cursor: pointer;
}

#button-9-dots {
    position: relative;
    left: 6px;
    margin-left: 0px;
    margin-right: 0px;
}

.hover-circle-button-4px {
    border: 4px solid transparent;
    height: auto;
    width: auto;
}

.hover-circle-button-4px:hover {
    border: 4px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

#avatar {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#google-logo-image {
    width: 272px;
    height: 92px;
}

#search-bar-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: stretch;
    margin: 22px 0px 30px 0px;
}

#search-icon {
    width: 17px;
    height: 17px;
}

#search-bar {
    flex: 0 1 550px;
    height: 44px;
    width: 100px;
    margin: 0px 30px 0px 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 15px;
}

#search-bar [type="text"] {
    height: 27px;
    align-self: center;
    position: relative;
    display: inline-block;
    position: relative;
    width: max-content;
    border: none;
    font-size: 16px;
    padding-left: 10px;
    flex: 0.92;
}

#search-bar [type="text"]:focus {
    outline: none;
}

button {
    background-color: #F8F9FA;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    height: 36px;
    width: 130px;
    font-size: 13.5px;
    margin: 0px 5px 0px 5px;
}

button:hover {
    border: 1px solid #DADCE0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

button:active {
    color: black;
}

#buttons-group {
    margin-bottom: 165px;
}

footer a {
    color: rgb(112, 117, 122);
    font-size: 14px;
    margin: 0px 14px 0px 14px
}

@media (max-width: 632px) {
    body {
        grid-template-rows: 50px auto 92px;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    footer {
        height: 92px;
    }
}

@media (max-width: 1200px) {
    footer {
        justify-content: space-evenly;
    }
}

@media(min-width: 1200px){
    footer {
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
    }
}
